<simple-notifications [options]="notifOptions"></simple-notifications>

<h3> Change setting for all selected devices at once</h3>

<form class="form-horizontal" *ngIf="settingDevicesId">
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-7">
            <div class="checkbox">
                <label>
                    <input type="checkbox" [(ngModel)]="logging" name="enable-logging"> Enable Logging
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-default btn-sm" (click)="changeLogging()">Submit Logging</button>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Power Monitor Interval</label>
        <div class="col-sm-7">
            <div class="input-group">
                <input type="number" class="form-control" placeholder="1000" name="power-monitor-interval"
                       [(ngModel)]="power_monitor_interval">
                <span class="input-group-addon">ms</span>
            </div>
        </div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-default btn-sm" (click)="changePowerMonitorInterval()">Submit Interval</button>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Days to Delete App DB</label>
        <div class="col-sm-7">
            <div class="input-group">
                <input type="number" class="form-control" placeholder="3" name="days-to-delete-db"
                       [(ngModel)]="days_to_delete_db">
                <span class="input-group-addon">Days</span>
            </div>
        </div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-default btn-sm" (click)="changeDays()">Submit Days</button>
        </div>
    </div>
</form>