<div style="height: 5px">
    <div [hidden]="!notSubmitting" class="loader-line"></div>
</div>
<simple-notifications [options]="notifOptions"></simple-notifications>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Firebase Management</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Remove Device
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="removeDeviceId">Device Id</label>
                        <input type="text" class="form-control" id="removeDeviceId" placeholder="Device Id"
                               [(ngModel)]="removeDeviceId">
                    </div>
                    <button (click)="removeDevice()" class="btn btn-danger" [disabled]="notSubmitting">Remove</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Firebase Authentication
                </div>
                <div class="panel-body">
                    <h4>{{ (af.auth | async)?.google.email }}</h4>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary" (click)="login()" *ngIf="!((af.auth | async)?.uid)">Login
                        </button>
                        <button type="button" class="btn btn-default" (click)="logout()" *ngIf="(af.auth | async)?.uid">Log out
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>