<div style="height: 5px">
    <div [hidden]="!isLoading" class="loader-line"></div>
</div>
<simple-notifications [options]="notifOptions"></simple-notifications>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Scheduler/Optimizer Mock Up</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Schedule Mock up
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>Selected Latitude</label>
                        <input type="number" class="form-control" placeholder="Selected Latitude"
                               [(ngModel)]="selectedLat" required>
                    </div>
                    <div class="form-group">
                        <label>Selected Longitude</label>
                        <input type="number" class="form-control" placeholder="Selected Longitude"
                               [(ngModel)]="selectedLng" required>
                        <p class="help-block">You can select latitude and longitude from map below</p>
                    </div>
                    <div class="form-group">
                        <label>Demand Cut in Watts</label>
                        <input type="number" class="form-control" placeholder="Demand Cut in Watts"
                               [(ngModel)]="demandCut" required>
                    </div>
                    <div class="form-group">
                        <label>Duration in Minutes</label>
                        <input type="number" class="form-control" placeholder="Duration in Minutes"
                               [(ngModel)]="durationMinutes" required>
                    </div>
                    <div class="form-group">
                        <label>Start Time</label>
                        <input type="time" class="form-control" placeholder="Start Time"
                               [(ngModel)]="startTime">
                    </div>
                    <p class="help-block">If you like to start immediately, leave start time empty</p>

                    <button (click)="makeSchedule()" class="btn btn-primary">Start
                        Schedule
                    </button>

                    <sebm-google-map [latitude]="latGarching" [longitude]="lngGarching" [zoom]="zoomGarching">
                        <sebm-google-map-marker
                                [latitude]="latGarching"
                                [longitude]="lngGarching"
                                [markerDraggable]=true
                                (dragEnd)="locationChanged(m, $event)">

                    </sebm-google-map>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">

                <div class="panel-heading">
                    Scheduling Stats
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Scheduling Start Time:</dt>
                        <dd> {{schedulingStartTime}}</dd>
                        <dt>Scheduling Finished Time:</dt>
                        <dd> {{schedulingFinishedTime}}</dd>
                        <dt>Estimated Demand Cut in Watts:</dt>
                        <dd> {{estimatedDemandCut}}</dd>
                        <dt>Number of Selected Laptops:</dt>
                        <dd> {{selectedDevices.length}}</dd>
                        <dt>Number of Particpating Laptops:</dt>
                        <dd> {{participatingDevices.length}}</dd>
                        <dt>Generated Schedule:</dt>
                        <dd> {{generatedSchedule}}</dd>
                    </dl>
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Selected Laptops</h4>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Laptop ID</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let laptop of selectedDevices; let i = index">
                                    <td>{{i + 1}}</td>
                                    <td>{{laptop.$key}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <h4>Participating Laptops</h4>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Laptop ID</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let laptop of participatingDevices; let i = index">
                                    <td>{{i + 1}}</td>
                                    <td>{{laptop.$key}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>