<sebm-google-map [latitude]="latMunich" [longitude]="lngMunich" [zoom]="zoomMunich">
    <sebm-google-map-marker
            *ngFor="let loc of locationsData"
            [latitude]="loc['latitude']"
            [longitude]="loc['longitude']"
            [title]="loc['day_of_week'] + loc['section_of_day']"
            [iconUrl]="iconBasedOnDay(loc)"
            [openInfoWindow]="true">

        <sebm-google-map-info-window>
            <span class="primary-font">
                <i class="fa fa-clock-o"></i> {{loc['day_of_week']}} - {{loc['section_of_day']}}
            </span>
            <br>
            <small><i class="fa fa-location-arrow"></i> {{loc['latitude']}} - {{loc['longitude']}}</small>
        </sebm-google-map-info-window>
    </sebm-google-map-marker>
</sebm-google-map>