<simple-notifications [options]="notifOptions"></simple-notifications>


<form class="form-horizontal" *ngIf="devicesId">
    <div class="form-group">
        <label class="col-sm-2 control-label">Schedule Period</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" placeholder="Schedule Period" name="schedule-period"
                   [(ngModel)]="schedule_period">
        </div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-default btn-sm" (click)="changeSchedulePeriod()">Submit Schedule
            </button>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12 text-center">
        <table *ngIf="schedules" class="schedule-times">
            <thead>
            <tr>
                <td>Mon</td>
                <td>Tue</td>
                <td>Wed</td>
                <td>Thu</td>
                <td>Fri</td>
                <td>Sat</td>
                <td>Sun</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let hour of hours">
                <td *ngFor="let day of days">
                    <div class="schedule-time-slot" *ngIf="schedules[day + '-' + hour]"
                         [ngClass]="{'schedule-time-set': schedules[day + '-' + hour]['set_devices_count'] === schedules[day + '-' + hour]['devices_count']
                         ,'schedule-time-unset': schedules[day + '-' + hour]['set_devices_count'] === 0
                         ,'schedule-time-half-set': schedules[day + '-' + hour]['set_devices_count'] != 0 && schedules[day + '-' + hour]['set_devices_count'] < schedules[day + '-' + hour]['devices_count']}"
                         (click)="toggleSchedule(schedules[day + '-' + hour])">
                        {{schedules[day + '-' + hour]['one_hour_duration_beginning']|timeAddZeros}}
                        / {{schedules[day + '-' + hour]['set_devices_count']}} D
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

